<% layout('layout') -%>
<h1>Lista de Mensajes</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Email</th>
    <th>Mensaje</th>
    <th>Estado</th>
  </tr>
  <% mensajes.forEach(m => { %>
    <tr>
      <td><%= m.id %></td>
      <td><%= m.nombre %></td>
      <td><%= m.email %></td>
      <td><%= m.mensaje %></td>
      <td><%= m.estado %></td>
    </tr>
  <% }) %>
</table>
